@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div#root {
    @apply min-h-screen bg-blackBg text-white w-screen;
  }

  .navigation--dj {
    @apply fixed flex bottom-0 glass-effect w-full left-0 p-2 z-20 justify-between;
  }

  .hover-icons-animation {
    @apply hover:scale-125 hover:duration-500 hover:transition-all;
  }

  .dj-sections {
    @apply text-white max-w-[1220px] overflow-hidden mx-auto px-4 pt-28;
  }
}

/* vanilla css styles */
/* glass effect */

.glass-effect {
  background: rgba(33, 33, 33, 0.67);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(33, 33, 33, 0.3);
}

.music-glass-effect {
  background: rgba(0, 0, 0, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* hide scrollbars */
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
